body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    text-align: center;
}

h1 {
    color: #333;
}

.time-container {
    margin-top: 20px;
}

.time-row {
    margin-top: 5px;
}

.lightest-orange {
    color: #FFCC80; /* Lightest orange */
}

.light-orange {
    color: #FFB74D; /* Light orange */
}

.orange {
    color: #FFA726; /* Orange */
}

.dark-orange {
    color: #FF9800; /* Dark orange */
}

.darker-orange {
    color: #F57C00; /* Darker orange */
}

.darkest-orange {
    color: #E65100; /* Darkest orange */
}
