/* Light Theme */
.container {
    background-color: #FFFFFF; /* White background */
    color: #333333; /* Dark text color */
}

.time-row {
    margin-top: 5px;
}

.time-row:nth-child(odd) {
    background-color: #FFE0B2; /* Light orange background for odd rows */
}

.time-row:nth-child(even) {
    background-color: #FFD54F; /* Lighter orange background for even rows */
}

/* Dark Theme */
.dark-theme .container {
    background-color: #333333; /* Dark background */
    color: #FFFFFF; /* Light text color */
}

.dark-theme .time-row:nth-child(odd) {
    background-color: #FFB74D; /* Dark orange background for odd rows */
}

.dark-theme .time-row:nth-child(even) {
    background-color: #FFA726; /* Darker orange background for even rows */
}
