.time-row {
    margin-top: 5px;
    color: #FFCC80; /* Lightest shade of orange */
}

.time-row:nth-child(2) {
    color: #FFB74D; /* Light orange */
}

.time-row:nth-child(3) {
    color: #FFA726; /* Orange */
}

.time-row:nth-child(4) {
    color: #FF9800; /* Dark orange */
}

.time-row:nth-child(5) {
    color: #F57C00; /* Darker orange */
}

.time-row:nth-child(6) {
    color: #E65100; /* Darkest shade of orange */
}
