body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

a {
    color: #fff;
    text-decoration: none;
}

#livestream-container {
    display: none;
    text-align: center; /* Center the livestream iframe */
}

#livestream-frame {
    margin: 0 auto; /* Center the livestream iframe horizontally */
}

#social-media {
    text-align: center;
}

.selected {
    color: #fa9e34; /* Highlight color for selected menu item */
}
