body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #088b0f;
}

.header {
    background-color: #09300d;
    color: #c7f7bc;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

a {
    color: #c7f7bc;
    text-decoration: none;
}

.social-media {
    margin: 20px 0;
    /* Updated styling for better visual appeal */
    text-align: center;
}

#livestream-container {
    display: none; /* Initially hide the livestream container */
}

#about-content {
    display: none; /* Initially hide the about content */
}
