.donate-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.donate-page {
  width: 100%;
  height: auto;
  display: flex;
  padding: 80px 0 0;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.donate-top-bar {
  gap: 20px;
  width: 1440px;
  height: 80px;
  display: flex;
  padding: 20px;
  overflow: hidden;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.11999999731779099) ;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.donate-rectangle4137 {
  width: 40px;
  height: 40px;
  border-radius: 100px;
}
.donate-text {
  color: rgba(0, 0, 0, 1);
  height: auto;
  flex-grow: 1;
  font-size: 28px;
  font-style: Medium;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: 36px;
  font-stretch: normal;
  text-decoration: none;
}
.donate-navigation {
  gap: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.donate-text02 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.donate-text04 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.donate-text06 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.donate-section {
  gap: 60px;
  height: 725px;
  display: flex;
  padding: 60px 170px;
  z-index: 1;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.donate-container1 {
  gap: 24px;
  width: 1100px;
  display: flex;
  flex-grow: 1;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.donate-text08 {
  color: rgba(0, 0, 0, 1);
  width: 520px;
  height: auto;
  font-size: 40px;
  font-style: Bold;
  text-align: center;
  font-family: Roboto;
  font-weight: 700;
  line-height: 48px;
  font-stretch: normal;
  text-decoration: none;
}
.donate-input {
  gap: 4px;
  width: 600px;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.donate-text10 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.donate-textfield {
  gap: 4px;
  display: flex;
  padding: 8px 12px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 0.10000000149011612);
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 1);
}
.donate-text12 {
  color: rgba(0, 0, 0, 0.5);
  height: auto;
  flex-grow: 1;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.donate-text14 {
  color: rgba(0, 0, 0, 0.5);
  height: auto;
  font-size: 12px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
.donate-selection {
  gap: 4px;
  width: 600px;
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.donate-text16 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.donate-chipgroup {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.donate-chip {
  width: 64px;
  display: flex;
  padding: 8px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.05000000074505806);
}
.donate-text18 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.donate-chip1 {
  display: flex;
  padding: 8px;
  align-items: center;
  border-radius: 6px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.05000000074505806);
}
.donate-text20 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.donate-chip2 {
  width: 64px;
  display: flex;
  padding: 8px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.05000000074505806);
}
.donate-text22 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.donate-text24 {
  color: rgba(0, 0, 0, 0.5);
  height: auto;
  font-size: 12px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
.donate-button {
  gap: 12px;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-direction: column;
}
.donate-primary {
  width: 160px;
  display: flex;
  padding: 12px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0, 0, 0, 1);
}
.donate-text26 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.donate-vector200 {
  top: 448px;
  left: 0px;
  width: 1440px;
  height: 1px;
  z-index: 1;
  position: absolute;
}
.donate-section1 {
  gap: 60px;
  display: flex;
  padding: 60px;
  z-index: 3;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.donate-container2 {
  gap: 60px;
  height: 100px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.donate-text28 {
  color: rgb(0, 0, 0);
  width: 218px;
  height: auto;
  font-size: 20px;
  align-self: stretch;
  font-style: Regular;
  text-align: center;
  font-family: "Roboto";
  font-weight: 400;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
.donate-text29 {
  color: rgba(0, 0, 0, 1);
  width: 160px;
  height: auto;
  font-size: 20px;
  align-self: stretch;
  font-style: Regular;
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
