.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  
  h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .beat-container {
    width: 80%;
  }
  
  .beat-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .beat {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    width: 200px;
    cursor: pointer;
    position: relative;
  }
  
  .play-btn {
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
    cursor: pointer;
  }
  
  .play-btn:hover .play-icon {
    opacity: 1;
  }
  
  .play-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .audio-player {
    display: none;
  }
  
  .beat.active .play-icon {
    display: none;
  }
  
  .beat.active .pause-icon {
    display: block;
  }
  
  .pause-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
  }
  
  .beat-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }
  
  h3 {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .buy-now-btn {
    background-color: #008CBA;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .buy-now-btn:hover {
    background-color: #0077B3;
  }
  
  .buy-now-btn a {
    text-decoration: none;
    color: #fff;
  }
  