body {
  font-family: Arial, sans-serif;
  background: #06090f;
  color: #ffffff;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.bg-img {
  background-image: url("https://i.imgur.com/5xaYZWP.jpeg");
  background-size: cover;
  background-position: center;
  filter: blur(10px);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.items-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.item {
  display: flex;
  margin: 20px;
  max-width: 400px;
  flex-basis: calc(50% - 40px);
}

.item-square {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.item-img img {
  max-width: 100%;
  height: auto;
}

.item-info {
  background-color: #f26b1d;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  padding: 20px;
}

.item-info h2 {
  font-size: 2rem;
  margin: 0;
  margin-bottom: 10px;
}

.item-info p {
  font-size: 1.2rem;
  margin: 0;
  margin-bottom: 10px;
}

.buy-btn {
  background-color: #ffffff;
  border: none;
  color: #f26b1d;
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.buy-btn:hover {
  background-color: #f26b1d;
  color: #ffffff;
}

.buy-btn:active {
  transform: translateY(2px);
}

h1 {
  font-size: 3rem;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0;
}
