body {
	background-color: transparent;
}

.follower-goal {
	width: 200px;
	height: 200px;
	background-color: orange;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

#goal {
	font-size: 72px;
	font-weight: bold;
	color: white;
	margin: 0;
}
