html, body {
	height: 100%;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	background-color: black;
}

.progress {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 200px;
	height: 200px;
	background-color: black;
	border: 2px solid orange;
	border-radius: 50%;
	overflow: hidden;
}

.progress-text {
	margin-top: 30px;
	font-size: 24px;
	font-weight: bold;
	color: white;
}

.progress-bar {
	width: 0%;
	height: 20px;
	background-color: orange;
}
