body {
    margin: 0;
    padding: 0;
    background-color: #000;
    font-family: sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

.bg-img {
    background-image: url(https://pbs.twimg.com/profile_banners/1300215616494882816/1598832439/1500x500);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.5;
}

.content {
    z-index: 1;
    text-align: center;
}

.profile-pic img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.profile-name h1 {
    font-size: 36px;
    color: #fff;
    margin: 0;
}

.button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

button {
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    padding: 10px 20px;
    border-radius: 30px;
    margin-bottom: 10px;
    transition: all 0.3s ease-in-out;
}

button:hover {
    background-color: #fff;
    color: #000;
}

button i {
    margin-right: 10px;
    font-size: 20px;
}

/* Icon */
link[rel="icon"] {
    type="image/x-icon";
    href="https://pbs.twimg.com/profile_images/1616338889819492354/Ozu50whN_400x400.jpg";
}

/* Open Graph image for social media */
meta[property="og:image"] {
    content="https://pbs.twimg.com/profile_images/1616338889819492354/Ozu50whN_400x400.jpg";
}
