body {
    background: #000000;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box {
    text-align: center;
    margin: 20px;
    font-size: 1.5rem;
    background-color: #EE2E31;
    border-radius: 10px;
    padding: 20px;
    width: 250px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

a:hover {
    text-decoration: none;
    color: #FFFFFF;
}

i {
    margin-bottom: 10px;
}

.fa-envelope {
    color: #FFFFFF;
    background-color: #3488C1;
    border-radius: 50%;
    padding: 10px;
}

.fa-folder-open {
    color: #FFFFFF;
    background-color: #28A645;
    border-radius: 50%;
    padding: 10px;
}

.fa-twitter {
    color: #FFFFFF;
    background-color: #1DA1F2;
    border-radius: 50%;
    padding: 10px;
}

.fa-discord {
    color: #FFFFFF;
    background-color: #7289DA;
    border-radius: 50%;
    padding: 10px;
}

@media screen and (max-width: 768px) {
    .box {
        width: 200px;
        height: 120px;
    }

    i {
        font-size: 2rem;
    }

    a {
        font-size: 1rem;
    }
}

@media screen and (max-width: 480px) {
    .box {
        width: 150px;
        height: 100px;
    }

    i {
        font-size: 1.5rem;
    }

    a {
        font-size: 0.8rem;
    }
}
