body {
    font-family: 'Montserrat', sans-serif; /* Use the Montserrat font */
    margin: 0;
    padding: 0;
    background-color: #088b0f;
}

.header {
    background-color: #09300d;
    color: #a5fa99;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

a {
    color: #a5fa99;
    text-decoration: none;
}

.social-media {
    margin: 20px 0;
    text-align: center;
}

#livestream-container {
    display: none;
    text-align: center; /* Center the livestream iframe */
}

#livestream-frame {
    margin: 0 auto; /* Center the livestream iframe horizontally */
}

#about-content {
    display: none;
    text-align: center; /* Center the about content */
}

.selected {
    color: #e71313; /* Highlight color for selected menu item */
}

#social-media {
    display: none;
    text-align: center;
    margin-top: 20px; /* Add space between the title and links */
}

#social-media h2 {
    color: #a5fa99; /* Match the color scheme */
    font-family: 'Montserrat', sans-serif; /* Use the Montserrat font */
}

#social-media ul {
    list-style: none;
    padding: 0;
}

#social-media li {
    display: inline;
    margin-right: 10px; /* Adjust spacing between links */
}

#social-media a {
    color: #a5fa99;
    text-decoration: none;
    font-weight: bold; /* Make the links bold */
}

#social-media a:hover {
    text-decoration: underline; /* Underline on hover for better feedback */
}
