body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    text-align: center;
}

h1 {
    color: #333;
}

.time-container {
    margin-top: 20px;
}

.time-row {
    font-size: 18px;
    color: #FFA500; /* Orange color */
    margin-top: 10px;
}

.light-orange {
    color: #FFD700; /* Lighter orange */
}

.dark-orange {
    color: #FFA500; /* Darker orange */
}
